<div class='row'>
  <div class='span12'>
    <span style="float: right;">
     <h1>Wifi-K9</h1>
    </span>
  </div>
</div>
<div class='row'>
   <div class="landing-markup"><%= @landing.markup.html_safe %></div>
</div>
<div class='row'>
</div>
<%= @hotspot.name %>