@import 'bootstrap';

body {
  padding-top: 60px;
}

.btn {
  margin-top: 1em;
}

#home {
  color: $gray;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  letter-spacing: -1px;
  padding-top: 9px;
  line-height: 1;

  &:hover {
    text-decoration: none;
  }
}

.create_description, .not_current_user {
  margin-bottom: 2em;
}

