@import 'bootstrap';

body {
  padding-top: 60px;
}

.btn {
  margin-top: 1em;
}

#home {
  //color: $gray;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  letter-spacing: -1px;
  padding-top: 9px;
  line-height: 1;

  &:hover {
    text-decoration: none;
  }
}

.create_description, .not_current_user {
  margin-bottom: 2em;
}

.landing {
  margin-top: 4em;
  margin-bottom: 4em;
}

.landing-title {
  //color: $gray;
}

.landing-markup {
  //border: 1px solid $blue;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  padding: 25px;
}

