<ul class="hotspots_menu">
  <% if current_user.admin?(hotspot) %>
    <li><%= link_to 'Edit', edit_hotspot_path(hotspot) %></li>
    <li><%= link_to 'Delete', hotspot_path(hotspot), :method => :delete, :confirm => 'This action is permanent and it can not be undone. Are you sure you want to delete this Hotspot?' %></li>
  <% end %>

  <% if 1 < hotspot.admins.count %>
    <li><%= link_to 'Leave this Hotspot', hotspot_editorship_path(hotspot, editorship), :method => :delete %></li>
  <% end %>
</ul>

