<div class='row'>
  <div class='span6'>
  </div>
  <div class='span6'>
    <span style="float: right;">
     <h1>Wifi-K9</h1>
     <h3>For more information on our free and secure hotspot service, click <%= link_to "here", "#" %>
    </span>
  </div>
</div>
<div class='row'>
   <div class="landing-markup"><%= @landing.markup.html_safe %></div>
</div>
<div class='row'>
  <div class='span12 offset3'>
    <h2>More Stuff from Wifi-K9</h2>
  </div>
</div>